<div class="bg-white shadow p-4 rounded">
    <h1 class="display-6 text-dark text-center">Liste des clients</h1>
    <hr class="bg-dark text-dark">
    <table class="table table-striped">
        <thead>
            <tr>
                <th scope="col">Id</th>
                <th scope="col">Nom de l'entreprise</th>
                <th scope="col">Prénom</th>
                <th scope="col">Nom</th>
                <th scope="col">Email</th>
                <th scope="col">Téléphone</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let client of clients; let i = index">
                <th>{{ client.id }}</th>
                <td>{{ client.companyName }}</td>
                <td>{{ client.firstName | uppercase }}</td>
                <td>{{ client.lastName }}</td>
                <td>{{ client.email }}</td>
                <td>{{ client.phone }}</td>
                <td>
                    <button class="btn btn-primary me-2" (click)="getClient(client.id)" data-bs-toggle="modal" data-bs-target="#detailsClientModal">infos... </button>
                    <!-- <button class="btn btn-primary me-2" type="button" [routerLink]="['/updateClient']"
                        [queryParams]="{ index: i, id: client.id, companyName: client.companyName, firstName: client.firstName, lastName: client.lastName, email: client.email, phone: client.phone, address: client.address, zipCode: client.zipCode, city: client.city, country: client.country, state: client.state }">Modifier
                    </button> -->
                    <button class="btn btn-danger" type="button" (click)="onDeleteClient(client.id, client.firstName, client.lastName)">Supprimer</button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
