<div class="row m-5">
  <div class="col-12 col-md-10 col-lg-8 col-xl-6 mx-auto">
    <div class="bg-white shadow rounded p-4">
      <h1 class="display-6 text-dark text-center">Connexion</h1>
      <hr class="bg-dark mb-5" />

      <div class="alert alert-danger" *ngIf="err==1">
        <strong>{{message}}</strong>
      </div>
      <!-- <div class="text-success text-center fs-3 mb-2" *ngIf="successMessage">{{ successMessage }}</div>-->

      <form [formGroup]="newUserForm" (ngSubmit)="onLoggedin()">
        <div class="form-group mb-3">
          <label for="username">Nom Utilisateur :</label>
          <input type="text" id="username" class="form-control" formControlName="username">
        </div>

        <div class="form-group mb-3">
          <label for="password">Mot de passe :</label>
          <input type="password" id="password" class="form-control" formControlName="password">
        </div>

        <div class="d-flex">
          <button class="btn btn-success mx-auto" type="submit" [disabled]="!newUserForm.valid">
            Connexion
          </button>
        </div>
      </form>
    </div>
  </div>
</div>
