<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light pagination">
    <!-- <a class="navbar-brand page-link" [routerLink]="['/admin']">Admin</a> -->
    <a class="navbar-brand page-link" [routerLink]="['/products']">Gestion des produits</a>
    <!-- <a class="navbar-brand page-link" [routerLink]="['/clients']">Gestion des clients</a> -->
    <a class="navbar-brand page-link" [routerLink]="['/addProduct']">Ajouter un produit</a>
    <a class="navbar-brand page-link" [routerLink]="['/orders']">Gestion des commandes</a>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">
        <li (click)="reloadBasket()">
          <a class="navbar-brand page-link" [routerLink]="['/basket']">
            Panier <i class="fas fa-shopping-cart"></i>
            <span *ngIf="basket" class="badge bg-danger rounded-circle">{{ basket.totalItems }}</span>
          </a>
        </li>
        <!-- <li class="nav-item btn btn-outline-success rounded-pill me-2">
            <a class="nav-link" [routerLink]="['/clients']">Se connecter</a>
          </li> -->
        <!-- <li class="nav-item btn btn-primary rounded-pill me-2">
            <a class="nav-link text-white mx-2" [routerLink]="['/clients']">S'incrire</a>
          </li> -->
        <!-- <li class="nav-item btn btn-danger rounded-pill">
            <a class="nav-link text-white text-dange">Déconnexion</a>
          </li> -->
      </ul>
    </div>
  </nav>
</div>
