<!-- header.component.html -->
<div class="container">
  <nav class="navbar navbar-expand-md navbar-light bg-light pagination">
    <a class="navbar-brand page-link" [routerLink]="['/products']">Gestion des produits</a>

    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <li *ngIf="authService.isloggedIn" class="nav-item dropdown ms-auto">
      <a class="navbar-brand page-link dropdown-toggle" href="#" id="navbardropProducts" role="button"
        data-bs-toggle="dropdown" aria-expanded="false">
        Produits et Commandes
      </a>
      <ul class="dropdown-menu" aria-labelledby="navbardropProducts">
        <li *ngIf="authService.isAdmin()"><a class="dropdown-item" [routerLink]="['products/addProduct']">Ajouter un produit</a></li>
        <li ><a class="dropdown-item" [routerLink]="['/orders']">Gestion des commandes</a></li>
      </ul>
    </li>

    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto">


        <li><a class="nav-link">{{ authService.loggedUser }}</a></li>

        <li (click)="reloadBasket()">
          <a class="navbar-brand page-link" [routerLink]="['/basket']">
            Panier <i class="fas fa-shopping-cart"></i>
            <span *ngIf="basket" class="badge bg-danger rounded-circle">{{ basket.totalItems }}</span>
          </a>
        </li>

        <li class="nav-item dropdown">
          <a class="navbar-brand page-link dropdown-toggle" href="#" id="navbardrop" role="button"
            data-bs-toggle="dropdown" aria-expanded="false">
            Connexion
          </a>
          <ul class="dropdown-menu w-100" aria-labelledby="navbardrop">
            <li *ngIf="!authService.isloggedIn"><a class="dropdown-item" [routerLink]="['/login']">Se connecter</a></li>
            <li *ngIf="authService.isloggedIn"><a class="dropdown-item" (click)="onLogout()">Déconnexion</a></li>
            <!-- <li><a class="dropdown-item" href="#">Profile</a></li> -->
          </ul>
        </li>
      </ul>
    </div>
  </nav>
</div>
