<!-- <p>edit-basket works!</p> -->
<div *ngIf="basket && basket.basketItems.length > 0" class="bg-white shadow p-4 rounded">
  <h1 class="display-6 text-dark text-center">Votre panier</h1>
  <hr class="bg-dark text-dark">
  <table class="table table-striped">
    <thead>
      <tr>
        <!-- <th scope="col">ID produit</th> -->
        <th scope="col">Nom du produit</th>
        <th scope="col">Image du produit</th>
        <th scope="col">Quantité</th>
        <th scope="col">Prix unitaire</th>
        <th scope="col">Total TTC</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of basket.basketItems">
        <!-- <td>{{ item.product.idProd }}</td> -->
        <td>{{ item.product.nameProd }}</td>
        <td><img [src]="item.product.imageUrl" alt="{{ item.product.nameProd }}"
            style="max-width: 50px; max-height: 50px;"></td>
        <td>
          <button class="btn btn-danger me-2" (click)="removeItemFromBasket(item.product.idProd, 1)">-</button>
          {{ item.quantity }}
          <button class="btn btn-primary ms-2" (click)="addItemToBasket(item.product.idProd, 1)">+</button>
        </td>
        <td>{{ item.product.price }} €</td>
        <!-- <td>{{ item.product.rating }} €</td> -->
        <td>{{ item.totalWithTaxe }} €</td>
      </tr>
    </tbody>
  </table>
  <p class="text-end me-5">Total du panier : <strong>{{ totalPrice ? (totalPrice ) : '0' }} €</strong></p>
  <!-- <p class="text-end me-5">Total du panier : <strong>{{ totalPrice ? (totalPrice | spaceSeparated) : '0' }} €</strong></p> -->
  <button class="btn btn-success" (click)="validateOrder()">
    Passer la commande
  </button>

</div>

<div *ngIf="!(basket && basket.basketItems.length > 0)" class="bg-white shadow p-5 rounded text-center">
  <h1 class="display-6 text-dark">Panier vide</h1>
</div>
