img {
  height: 15rem;
  width: 13rem;
  display: block;
  padding: 10px;
  margin: 0 auto;
  transition: transform 0.2s; /* Transition lors du changement de transformation */
}

.card {
  transition: transform 0.2s; /* Transition lors du changement de transformation */
}

.card:hover {
  transform: scale(1.05); /* Transformation au survol de l'image */
}
