<div class="container">
  <nav class="navbar navbar-expand-lg navbar-light bg-light pagination">
    <a class="navbar-brand page-link" [routerLink]="['/clients']">Gestion des clients</a>
    <a class="navbar-brand page-link" [routerLink]="['/products']">Gestion des produits</a>
    <a class="navbar-brand page-link" [routerLink]="['/orders']">Gestion des commandes</a>
    <a class="navbar-brand page-link" [routerLink]="['/addClient']">Ajouter un client</a>

    <!-- <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item btn btn-outline-success rounded-pill me-2">
            <a class="nav-link" [routerLink]="['/clients']">Se connecter</a>
          </li>
          <li class="nav-item btn btn-primary rounded-pill me-2">
            <a class="nav-link text-white mx-2" [routerLink]="['/clients']">S'incrire</a>
          </li>
          <li class="nav-item btn btn-danger rounded-pill">
            <a class="nav-link text-white text-dange">Déconnexion</a>
          </li>
        </ul>
      </div> -->
  </nav>
</div>
